## Importación de librearías

In [6]:
import pandas as pd
import numpy as np
import os

## Carga de datos

In [ ]:
ruta_customer = r"C:\Users\HUGO\Desktop\Data Analyst\09_PYTHON\Proyecto_Python_Data\data\Archivos_origen\customer-details.xlsx"
df_customer = pd.read_excel(ruta_customer)
print(df_customer.head())

   Unnamed: 0  Income  Kidhome  Teenhome Dt_Customer  NumWebVisitsMonth  \
0           0  161770        1         0  2012-04-04                 29
1           1   85477        1         1  2012-12-30                  7
2           2  147233        1         1  2012-02-02                  5
3           3  121393        1         2  2012-12-21                 29
4           4   63164        1         2  2012-06-20                 20

                                     ID
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

In [23]:
ruta_bank = r"C:\Users\HUGO\Desktop\Data Analyst\09_PYTHON\Proyecto_Python_Data\data\Archivos_origen\bank-additional.csv"
df_bank = pd.read_csv(ruta_bank)
print(df_bank.head())

   Unnamed: 0   age        job  marital    education  default  housing  loan  \
0           0   NaN  housemaid  MARRIED     basic.4y      0.0      0.0   0.0
1           1  57.0   services  MARRIED  high.school      NaN      0.0   0.0
2           2  37.0   services  MARRIED  high.school      0.0      1.0   0.0
3           3  40.0     admin.  MARRIED     basic.6y      0.0      0.0   0.0
4           4  56.0   services  MARRIED  high.school      0.0      0.0   1.0

     contact  duration  ...  emp.var.rate  cons.price.idx  cons.conf.idx  \
0  telephone       261  ...           1.1          93,994          -36,4
1  telephone       149  ...           1.1          93,994          -36,4
2  telephone       226  ...           1.1          93,994          -36,4
3  telephone       151  ...           1.1          93,994          -36,4
4  telephone       307  ...           1.1          93,994          -36,4

  euribor3m  nr.employed   y                date latitude longitude  \
0     4,857         5191  no       2-agosto-2019   41.495   -71.233
1       NaN         5191  no  14-septiembre-2016   34.601   -83.923
2     4,857         5191  no     15-febrero-2019   34.939   -94.847
3       NaN         5191  no   29-noviembre-2015   49.041   -70.308
4       NaN         5191  no       29-enero-2017   38.033  -104.463

                                    id_
0  089b39d8-e4d0-461b-87d4-814d71e0e079
1  e9d37224-cb6f-4942-98d7-46672963d097
2  3f9f49b5-e410-4948-bf6e-f9244f04918b
3  9991fafb-4447-451a-8be2-b0df6098d13e
4  eca60b76-70b6-4077-80ba-bc52e8ebb0eb

[5 rows x 24 columns]